.idea
.php_cs
.php_cs.cache
.phpunit.result.cache
.build
.output
composer.lock
coverage
vendor
node_modules
.php-cs-fixer.cache
.context
.templates
.researches
runtime
ctx-*.log
.env
