[Desktop Entry]
Name=Flare
Comment=2D animation software inspired by Animate
Exec=flare
Icon=io.github.Flare
Terminal=false
Type=Application
Categories=Graphics;RasterGraphics;2DGraphics;Animation;
StartupWMClass=Flare
MimeType=application/x-toonz-tnz;application/x-shockwave-flash;application/x-xfl;
